.App {
  
  
  text-align: center;
  color: red;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 245, 232);
  height: 100vh;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.button{
  border: none;
  padding: 10px;
  background-color: #92ade4;
  border-radius: 8px;
  font-weight: bold;
  color: #410122;
  font-size: 18px;
  margin: 20px;
  transition: transform 300ms;
  transition: box-shadow 100ms;
}
.button-2{
  border: none;
  padding: 10px;
  background-color: #e49292;
  border-radius: 8px;
  font-weight: bold;
  color: #410122;
  font-size: 18px;
  margin: 20px;
  transition: transform 300ms;
  transition: box-shadow 100ms;
}
.button:hover , .button-2:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 6px rgb(85, 85, 87);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
